NODE_ENV="staging"
PROXY_TARGET="https://api.yourdomain.com"
BLUEBOX_TOKEN="some-random-string-invented-by-you"
KMS_ARN="arn:aws:kms:us-west-2:658956600833:alias/EncryptDecrypt"
KMS_CMK_KEYID="arn:aws:kms:us-west-2:658956600833:key/b3537ef1-d8dc-4780-9f5a-55776cbb2f7f"
KMS_REGION="us-east-1"
DB_ACCESSKEYID="YOUR-KEY"
DB_SECRETACCESSKEY="YOUR-KEY"
DB_REGION="us-east-1"