# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
.DS_Store

# package directories
node_modules
jspm_packages
lib
.npmrc

# Serverless directories
.serverless

# testing
/coverage

# misc
.DS_Store
.env
package-lock.json
.vscode/launch.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.dynamodb